<a href="https://colab.research.google.com/github/rohanBrid18/ML-Workshop/blob/master/LinearRegression_NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.datasets import load_boston
from keras.models import Sequential
from keras.layers import Activation, Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd

Using TensorFlow backend.

In [0]:
scalar = MinMaxScaler()

In [3]:
data = load_boston()
data.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [0]:
df = pd.DataFrame(
    columns=data.feature_names,
    data=scalar.fit_transform(data['data'])
)

In [0]:
data['target'] = data['target'].reshape(-1, 1)

In [0]:
df['target'] = scalar.fit_transform(data['target'])

In [7]:
df.head()

       CRIM    ZN     INDUS  CHAS  ...   PTRATIO         B     LSTAT    target
0  0.000000  0.18  0.067815   0.0  ...  0.287234  1.000000  0.089680  0.422222
1  0.000236  0.00  0.242302   0.0  ...  0.553191  1.000000  0.204470  0.368889
2  0.000236  0.00  0.242302   0.0  ...  0.553191  0.989737  0.063466  0.660000
3  0.000293  0.00  0.063050   0.0  ...  0.648936  0.994276  0.033389  0.631111
4  0.000705  0.00  0.063050   0.0  ...  0.648936  1.000000  0.099338  0.693333

[5 rows x 14 columns]

In [8]:
df.describe()

             CRIM          ZN       INDUS  ...           B       LSTAT      target
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     0.040544    0.113636    0.391378  ...    0.898568    0.301409    0.389618
std      0.096679    0.233225    0.251479  ...    0.230205    0.197049    0.204380
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.000851    0.000000    0.173387  ...    0.945730    0.144040    0.267222
50%      0.002812    0.000000    0.338343  ...    0.986232    0.265728    0.360000
75%      0.041258    0.125000    0.646628  ...    0.998298    0.420116    0.444444
max      1.000000    1.000000    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 14 columns]

In [0]:
xtrain, xtest, ytrain, ytest = train_test_split(df.iloc[:, :-1], df['target'], test_size=0.3)

In [0]:
model = Sequential()

In [0]:
model.add(Dense(units=16, input_dim=13, activation='linear'))
model.add(Dense(units=32, activation='linear'))
model.add(Dense(units=1, activation='linear'))

In [0]:
model.compile(loss='mean_squared_error', optimizer='sgd', metrics=['accuracy'])

In [16]:
model.fit(xtrain, ytrain, epochs=50)

W0623 15:32:50.366872 140414986635136 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

W0623 15:32:50.403525 140414986635136 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/50
354/354 [==============================] - 1s 4ms/step - loss: 0.0802 - acc: 0.0056
Epoch 2/50
354/354 [==============================] - 0s 99us/step - loss: 0.0305 - acc: 0.0085
Epoch 3/50
354/354 [==============================] - 0s 100us/step - loss: 0.0277 - acc: 0.0113
Epoch 4/50
354/354 [==============================] - 0s 97us/step - loss: 0.0271 - acc: 0.0113
Epoch 5/50
354/354 [==============================] - 0s 95us/step - loss: 0.0267 - acc: 0.0113
Epoch 6/50
354/354 [==============================] - 0s 102us/step - loss: 0.0263 - acc: 0.0113
Epoch 7/50
354/354 [==============================] - 0s 97us/step - loss: 0.0260 - acc: 0.0113
Epoch 8/50
354/354 [==============================] - 0s 94us/step - loss: 0.0259 - acc: 0.0141
Epoch 9/50
354/354 [==============================] - 0s 95us/step - loss: 0.0255 - acc: 0.0113
Epoch 10/50
354/354 [==============================] - 0s 98us/step - loss: 0.0250 - acc: 0.0169
Epoch 11/50
354/354 [==============================] - 0s 97us/step - loss: 0.0251 - acc: 0.0141
Epoch 12/50
354/354 [==============================] - 0s 91us/step - loss: 0.0249 - acc: 0.0169
Epoch 13/50
354/354 [==============================] - 0s 91us/step - loss: 0.0243 - acc: 0.0169
Epoch 14/50
354/354 [==============================] - 0s 113us/step - loss: 0.0242 - acc: 0.0169
Epoch 15/50
354/354 [==============================] - 0s 101us/step - loss: 0.0239 - acc: 0.0169
Epoch 16/50
354/354 [==============================] - 0s 100us/step - loss: 0.0239 - acc: 0.0169
Epoch 17/50
354/354 [==============================] - 0s 94us/step - loss: 0.0235 - acc: 0.0169
Epoch 18/50
354/354 [==============================] - 0s 95us/step - loss: 0.0242 - acc: 0.0169
Epoch 19/50
354/354 [==============================] - 0s 103us/step - loss: 0.0233 - acc: 0.0169
Epoch 20/50
354/354 [==============================] - 0s 102us/step - loss: 0.0230 - acc: 0.0169
Epoch 21/50
354/354 [==============================] - 0s 94us/step - loss: 0.0228 - acc: 0.0169
Epoch 22/50
354/354 [==============================] - 0s 95us/step - loss: 0.0227 - acc: 0.0169
Epoch 23/50
354/354 [==============================] - 0s 97us/step - loss: 0.0225 - acc: 0.0169
Epoch 24/50
354/354 [==============================] - 0s 92us/step - loss: 0.0224 - acc: 0.0198
Epoch 25/50
354/354 [==============================] - 0s 100us/step - loss: 0.0221 - acc: 0.0169
Epoch 26/50
354/354 [==============================] - 0s 96us/step - loss: 0.0220 - acc: 0.0169
Epoch 27/50
354/354 [==============================] - 0s 96us/step - loss: 0.0227 - acc: 0.0169
Epoch 28/50
354/354 [==============================] - 0s 96us/step - loss: 0.0219 - acc: 0.0169
Epoch 29/50
354/354 [==============================] - 0s 93us/step - loss: 0.0216 - acc: 0.0169
Epoch 30/50
354/354 [==============================] - 0s 108us/step - loss: 0.0215 - acc: 0.0169
Epoch 31/50
354/354 [==============================] - 0s 96us/step - loss: 0.0214 - acc: 0.0169
Epoch 32/50
354/354 [==============================] - 0s 97us/step - loss: 0.0212 - acc: 0.0169
Epoch 33/50
354/354 [==============================] - 0s 101us/step - loss: 0.0210 - acc: 0.0169
Epoch 34/50
354/354 [==============================] - 0s 93us/step - loss: 0.0209 - acc: 0.0169
Epoch 35/50
354/354 [==============================] - 0s 100us/step - loss: 0.0207 - acc: 0.0169
Epoch 36/50
354/354 [==============================] - 0s 101us/step - loss: 0.0207 - acc: 0.0169
Epoch 37/50
354/354 [==============================] - 0s 101us/step - loss: 0.0205 - acc: 0.0169
Epoch 38/50
354/354 [==============================] - 0s 101us/step - loss: 0.0203 - acc: 0.0169
Epoch 39/50
354/354 [==============================] - 0s 91us/step - loss: 0.0204 - acc: 0.0169
Epoch 40/50
354/354 [==============================] - 0s 97us/step - loss: 0.0202 - acc: 0.0169
Epoch 41/50
354/354 [==============================] - 0s 95us/step - loss: 0.0200 - acc: 0.0169
Epoch 42/50
354/354 [==============================] - 0s 97us/step - loss: 0.0199 - acc: 0.0169
Epoch 43/50
354/354 [==============================] - 0s 128us/step - loss: 0.0198 - acc: 0.0169
Epoch 44/50
354/354 [==============================] - 0s 108us/step - loss: 0.0196 - acc: 0.0169
Epoch 45/50
354/354 [==============================] - 0s 101us/step - loss: 0.0195 - acc: 0.0198
Epoch 46/50
354/354 [==============================] - 0s 96us/step - loss: 0.0192 - acc: 0.0198
Epoch 47/50
354/354 [==============================] - 0s 97us/step - loss: 0.0193 - acc: 0.0169
Epoch 48/50
354/354 [==============================] - 0s 95us/step - loss: 0.0193 - acc: 0.0169
Epoch 49/50
354/354 [==============================] - 0s 97us/step - loss: 0.0190 - acc: 0.0198
Epoch 50/50
354/354 [==============================] - 0s 97us/step - loss: 0.0188 - acc: 0.0198

In [17]:
model.evaluate(xtest, ytest)

152/152 [==============================] - 0s 296us/step

[0.022005158035378707, 0.03289473684210526]